# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.envrc
.venv/
.env

# Python environment files
Pipfile.lock
poetry.lock

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Colab notebooks autosaves
*.ipynb (autosaved).ipynb
.ipynb_checkpoints/
# Logs and temporary files
*.log
*.tmp
*.bak
.gitkeep
